<!DOCTYPE HTML>
<html>
	<head>
		<title>STAND BY ME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/mock/ress.min.css'>
		<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/mock/top.css'>
	</head>
	<body>
		<div class="top-container">
			<div class="top-title">
				<h1>STAND BY ME</h1>
				<p>何気ない日々に美女を</p>
			</div>
			<div class="top-form">
				<form>
					<input type="text" placeholder="Username"/>
					<input type="password" placeholder="Password"/>
					<button type="button"onclick="location.href='select.html'">Login</button>
				</form>
			</div>
		</div>
		<script src="../../assets/javascripts/mock/jquery.min.js"></script>
	</body>
</html>