<!DOCTYPE HTML>
<html>
<head>
	<title>美女を起こそう</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../../assets/stylesheets/mock/reset.css">
	<link rel="stylesheet" href="../../assets/stylesheets/mock/main.css">
</head>
<body>

	<div class="main-content">

		<div class="main-timer main-box">
			<h1>起こす時間を設定してね</h1>
 			<form>
				<input class="main-timer-our" name="time-our" type="number" value="07">
				<input class="main-timer-minute" name="time-minute" type="number" value="30">
			</form>
			<p class="main-timer-button main-button" >決定</p>
		</div>

		<div class="main-nav-message main-box">
			<p>「おはよう」というと起こせます</p>
		</div>

		<div class="main-bijo-message main-box">
			<p class="main-bijo-message-text"></p>
			<p>好感度</p>
			<span class="main-bijo-point">
				<span class="main-bijo-point-in"></span>
			</span>
			<!--<p class="main-camera-btn">ツーショットを撮る</p>-->
			<p class="main-reset-btn main-button">もう一度起こす時間をセット</p>
		</div>

	</div>

<script src="../../assets/javascripts/mock/jquery.min.js"></script>
<script src="../../assets/javascripts/mock/main.js"></script>

</body>
</html>