<!DOCTYPE HTML>
<html>
<head>
	<title>美女を起こそう</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../../assets/stylesheets/mock/reset.css">
	<link rel="stylesheet" href="../../assets/stylesheets/mock/main.css">
</head>
<body>

	<div class="main-content">

		<div class="main-nav-message main-box">
			<p>「おはよう」と話しかけてね</p>
		</div>

	</div>

<script src="../../assets/javascripts/mock/jquery.min.js"></script>
<script>
	$(function(){

		var content = $('.main-content');
		var timer = $('.main-timer');
		var navM = $('.main-nav-message');
		var bijoM = $('.main-bijo-message');

		// 音声認識開始
		vr_function();

		// 起こすボタンクリック
		navM.click(function(){
			// morningへリンク
			window.open('/morning');
			// 起こされたメッセージを表示
			// happyMessage();
		});

		// 以下、音声認識
		var flag_speech = 0;
		var end = false;

		function vr_function() {
			window.SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
			var recognition = new webkitSpeechRecognition();
			recognition.lang = 'ja';
			recognition.interimResults = true;
			recognition.continuous = true;

			recognition.onsoundstart = function() {
			};
			recognition.onnomatch = function() {
			};
			recognition.onerror = function() {
				if(flag_speech == 0)
					vr_function();
			};

			//何も言わなかった時は次のビデオを再生する
			recognition.onsoundend = function() {
				if(end){
					return;
				}
				vr_function();
			};

			var end = false;

			recognition.onresult = function(event) {
				var results = event.results;
				for (var i = event.resultIndex; i < results.length; i++) {
					// 音声が完全に取得された場合の処理
					if (results[i].isFinal)
					{
						vr_function();
					}
					// 話しかけてる途中の処理
					else {
						console.log(results[i][0].transcript);
						// おはようというとhappyMessageアニメーション
						if(results[i][0].transcript == 'おはよう' ||  results[i][0].transcript == 'お早う' ||  results[i][0].transcript == '火曜'){
							console.log(results[i][0].transcript);
							// morningへリンク
							window.open('/morning');
						}
					}
				}
			};

			flag_speech = 0;
			recognition.start();

		} // end 音声認識

	});

</script>

</body>
</html>