<!DOCTYPE HTML>
<html>
	<head>
		<title>STAND BY ME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/mock/ress.min.css'>
		<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/mock/select.css'>
	</head>
	<body>
		<div class="select-bg">
			<div class="select-wrapper">
				<div class="select-message">
					<h1><span>好きな子を選んでね!</span></h1>
				</div>
				<div class="select-container">
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_1.jpg"></div>
						<h2>浅倉 裕子</h2>
						<p>
							基本マイペースで、のらりくらりと生きています。
							お休みの日には、映画や水族館に行って、美味しいものを食べるようなデートがしたいです。
							仲良くなったら、一緒にお出かけしてしてくださいね(^o^)
						</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_2.jpg"></div>
						<h2>堀江 静</h2>
						<p>
							けっこうなインドア派で、休みの日はゲームしてるかアニメ見てるかです(´・ω・｀)<br>
							一人だと外に出るのおっくうなので、誰か連れ出してください♡<br>
							コスプレも好きで、コミケなどの大きなイベントではレイヤーとして活動しています<br>
						</p>
							<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_3.jpg"></div>
						<h2>石田 春江</h2>
						<p>★好きなこと<br>
							美味しいものをたべたりのんだり
							ステキなカフェでのんびり
							じっくり音楽を聴くこと
						</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_4.jpg"></div>
						<h2>渡辺 葵花</h2>
						<p>
							趣味は音楽、映画、アートなどです。<br>
							とくに音楽が大好きで、よくライブに行ったりします。<br>
							洋楽・邦楽いろんなジャンルの音楽を聴きます♪<br>
						</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_5.jpg"></div>
						<h2>織田 弥子</h2>
						<p>
							活発で明るい反面、意外と女性らしい一面もあると友人からは言われています。<br>
							今は知人・友人と共にゴルフやスキーなどの趣味を活かして休日をリラックスして過ごしています。
						</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_6.jpg"></div>
						<h2>橋田 京香</h2>
						<p>
							動物が大好きです。今はチワワを飼ってます♪
							私が座ってると膝の上にちょこんと乗ってきてすごい可愛いんです！
							動物園も好きで一人でも行っちゃいます(*´ω｀*)
							動物好きな人だと嬉しいな♪
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_7.jpg"></div>
						<h2>本田 静樹</h2>
						<p>休みの日は友達とご飯に行ったり、服を見に行ったり、
							カラオケやドライブなども好きです。
							特に音楽が好きなので、ドライブしながら音楽を聴くのはとても楽しいです(^^)
							好きなのは、Mr.Children/BUMP OF CHIKEN/GReeeeNなどで、
							最近はサカナクションなんかも聴いています。
						</p>
						<a class="select-button" href="#">SELECT</a>
					</div><div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_8.jpg"></div>
						<h2>七瀬 由美</h2>
						<p>
							趣味は映画鑑賞、カラオケ、旅行、野球観戦など色々です。
							流行っているものに目がないので、新しいスイーツとかには飛びついてしまいます(笑)
							野球はヤクルトが大好きすぎて、
							それ以外には興味が無いほどにヤクルト好きです！(笑)
							映画もとても好きで、洋画派です。
						</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../../assets/javascripts/mock/jquery.min.js"></script>
	</body>
</html>