<!DOCTYPE HTML>
<html>
	<head>
		<title>STAND BY ME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/mock/ress.min.css'>
		<link rel='stylesheet' type='text/css' href='../../assets/stylesheets/mock/select.css'>
	</head>
	<body>
		<div class="select-bg">
			<div class="select-wrapper">
				<div class="select-message">
					<h1><span>好きな子を選んでね!</span></h1>
				</div>
				<div class="select-container">
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_1.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_2.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_3.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_4.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_5.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_6.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
					<div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_7.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div><div class="select-woman-container">
						<div class="select-img-frame"><img src="../../assets/images/select/bijyo_8.jpg"></div>
						<h2>name</h2>
						<p>プロフィールサンプルテキスト<br>
						サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
						<a class="select-button" href="#">SELECT</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../../assets/javascripts/mock/jquery.min.js"></script>
	</body>
</html>