<!DOCTYPE HTML>
<html>
<head>
	<title>美女を起こそう</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../../assets/stylesheets/mock/reset.css">
	<link rel="stylesheet" href="../../assets/stylesheets/mock/main.css">
</head>
<body>

<div class="main-content">

	<div class="main-timer main-box">
		<h1>起こす時間を設定してね</h1>
		<form action="/show">
			<input name="showTime" type="datetime-local">
			<input type="submit">
		</form>
	</div>

</div>

<script src="../../assets/javascripts/mock/jquery.min.js"></script>

</body>
</html>