
.main-content {
  background-image: url(../../images/people/sleep.jpg);
  background-size: cover;
  position: relative;
  height: 800px;
}

/* main パーツ */
.main-box {
  width: 400px;
  position: absolute;
  padding: 20px;
  top: 300px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
}

.main-button {
  margin: 20px 0;
  border: 1px solid #333;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.main-timer h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.main-timer form {
  height: 50px;
}

.main-timer input {
  display: block;
  width: 46%;
  height: 40px;
  text-align: center;
}

.main-timer-our {
  float: left;
}

.main-timer-minute {
  float: right;
}


.main-nav-message {
  display: none;
}
.main-bijo-message {
  display: none;
}

.main-bijo-message p{
  margin-bottom: 10px;
}

.main-bijo-point {
  display: block;
  margin: 10px 0;
  border: 1px solid #333;
  width: 100%;
  height: 50px;
}

.main-bijo-point-in {
  display: block;
  background: #333;
  height: 50px;
  width: 50%;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}